.alert {
  direction: rtl;
  width: 300px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 7.5rem;
  right: 3rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  z-index: 1001;
}
.alert-danger {
  background: rgba(156, 15, 15, 0.849);
  color: #fff;
}
.alert-success {
  background: rgba(48, 156, 15, 0.849);
  color: #fff;
}
