.no-item {
  font-size: 1rem;
  width: 700px;
  direction: rtl;
  margin: 0 1rem;
  padding: 1rem;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: #fff;
}
.list-items {
  // grid-column: 3/6;
  padding: 1rem;
  margin-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  .table-body {
    direction: rtl;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 700px;
    // height: 200px;
    // overflow-y: scroll;
    background: #fff;
    margin: 0 auto 1rem auto;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #eee;
    }
    tr {
      &:hover {
        background: #f4f4f4;
      }
    }
    th {
      background: #790c2d;
      color: #fff;
      font-size: 1rem;
      text-align: right;
      padding: 10px 15px;
      margin: 0;
    }

    th:nth-last-of-type(1),
    th:nth-last-of-type(2) {
      text-align: center;
      width: 65px;
    }
    th:nth-last-of-type(3) {
      width: 270px;
    }
    td {
      text-align: right;
      padding: 10px 15px;
      border-bottom: 1px solid #c6c9cc;
      font-size: 1rem;
    }
    td:nth-last-of-type(1),
    td:nth-last-of-type(2) {
      text-align: center;
      width: 65px;
      cursor: pointer;
    }
    td:nth-last-of-type(3) {
      width: 270px;
    }
  }
}
