tr:nth-child(even) {
  background-color: #eee;
}
tr {
  &:hover {
    background: #f4f4f4;
  }
}
th {
  background: #850c3f;
  color: #fff;
  font-size: 1rem;
  text-align: right;
  padding: 10px 15px;
  margin: 0;
}

th:nth-last-of-type(1),
th:nth-last-of-type(2) {
  text-align: center;
  width: 65px;
}
th:nth-last-of-type(3) {
  width: 270px;
}
td {
  text-align: right;
  padding: 10px 15px;
  border-bottom: 1px solid #c6c9cc;
  font-size: 1rem;
}
td:nth-last-of-type(1),
td:nth-last-of-type(2) {
  text-align: center;
  width: 65px;
  cursor: pointer;
}
td:nth-last-of-type(3) {
  width: 270px;
}
