.container-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23c02f14' fill-opacity='0.29'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}

.container-form {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  h2 {
    text-align: center;
    margin: 0 0 20px;
  }
  .form {
    padding: 30px 40px;
    button {
      display: block;
      font-size: 16px;
      padding: 10px 0 12px 0;
      margin-top: 20px;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      background: linear-gradient(
        45deg,
        rgba(26, 105, 108, 0.678),
        rgba(45, 42, 216, 0.616)
      );
      border: 2px solid #fff;
      width: 100%;
    }
    &.error small {
      visibility: visible;
    }
    .form-control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
      &.success input {
        border-color: #2ecc71;
      }
      &.form-control.error input {
        border-color: #e74c3c;
      }
      small {
        color: #e74c3c;
        position: absolute;
        bottom: 0;
        left: 0;
        visibility: hidden;
      }
      label {
        direction: rtl;

        color: #777;
        display: block;
        margin-bottom: 5px;
      }
      input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        width: 100%;
        padding: 10px;
        font-family: 'Baloo Tammudu 2';
        font-size: 14px;
        &:focus {
          outline: 0;
          border-color: #777;
        }
      }
    }
  }
}
