@font-face {
  font-family: 'Yekan Bakh';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-04-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Yekan Bakh';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-06-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Yekan Bakh Hairline';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-01-Hairline.ttf') format('truetype');
}
@font-face {
  font-family: 'Yekan Bakh Heavy';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-07-Heavy.ttf') format('truetype');
}
@font-face {
  font-family: 'Yekan Bakh Fat';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-08-Fat.ttf') format('truetype');
}
@font-face {
  font-family: 'Yekan Bakh Thin';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-02-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Yekan Bakh Light';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-03-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Yekan Bakh Medium';
  src: url('./assets/fonts/Yekan-Bakh-Fa-En-05-Medium.ttf') format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Baloo Tammudu 2',
    'Yekan Bakh', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
