.homepage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #f4f4f4;
  .group {
    grid-column: 3/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
